/*
App.css

    -make things pretty..

by Tze Wei, 2017
https://github.com/tzeweiwee
*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto|Source+Sans+Pro');
.App {
    font-family: 'Open Sans', sans-serif;
    min-height: 1000px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

#main-heading {
    text-align: center;
    font-size: larger;
    border-bottom: 3px solid #2570a9;
    border-top: 3px solid #2570a9;
}

#product-table {
    border-collapse: collapse;
    padding: 15px
}

#product-table th {
    background-color: #2570a9;
    color: white;
}

#product-table th,
#product-table td {
    padding: 15px;
}

#product-table tr {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

#product-table tr:hover {
    background-color: #f5f5f5;
}

.product-name {
    text-align: center;
    text-transform: capitalize;
}

.add-button button {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #2570a9;
    padding: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    transition: all 1s ease;
}

.add-button:hover button {
    border: 2px solid #1ad4d4;
    font-size: x-large;
    cursor: pointer;
}

.add-button button:active {
    background-color: #1ad4d4;
}

#clear-button {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #800000;
    padding: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    transition: all 0.1s ease;
    margin: 10px;
    float: right;
}

#clear-button:hover {
    border: 2px solid #1ad4d4;
    background-color: red;
    font-size: x-large;
    cursor: pointer;
}

#clear-button:active {
    background-color: #800000;
    font-size: x-large;
}

.quantity {
    text-align: center;
    font-size: larger;
}

.client-area {
    display: flex;
}

#product-selection {
    width: 70%;
    float: left;
}

#special-deals {
    margin-left: 3%;
    width: 25%;
    float: right;
}

#special-deals #heading {
    text-align: center;
    text-decoration: underline;
    font-size: larger;
}

.PricingRules {
    padding: 10px;
    border: 1px solid black;
}

.capitalize {
    text-transform: capitalize;
    font-weight: bold;
}

.checkout-product {
    width: 80%;
    text-align: left;
    border-right: 1px solid black;
    border-bottom: none;
    font-weight: normal;
    text-transform: capitalize;
}

.checkout-price {
    text-align: right;
    font-weight: normal;
}

.savings-text {
    color: green;
}

.original-price-text {
    text-decoration: line-through;
}

#checkout-total {
    text-align: right;
    margin-top: 8px;
}
